In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('Tweets.csv')

In [5]:
data

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [32]:
print(data['negativereason'].iloc[20] ,  ' ' ,  data['text'].iloc[20])

Can't Tell   @VirginAmerica why are your first fares in May over three times more than other carriers when all seats are available to select???

In [34]:
new_data = data[data['airline_sentiment'] != 'neutral']

In [35]:
new_data

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
5,570300767074181121,negative,1.0000,Can't Tell,0.6842,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica seriously would pay $30 a fligh...,NaN,2015-02-24 11:14:33 -0800,NaN,Pacific Time (US & Canada)
6,570300616901320704,positive,0.6745,NaN,0.0000,Virgin America,NaN,cjmcginnis,NaN,0,"@VirginAmerica yes, nearly every time I fly VX...",NaN,2015-02-24 11:13:57 -0800,San Francisco CA,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14633,569587705937600512,negative,1.0000,Cancelled Flight,1.0000,American,NaN,RussellsWriting,NaN,0,@AmericanAir my flight was Cancelled Flightled...,NaN,2015-02-22 12:01:06 -0800,Los Angeles,Arizona
14634,569587691626622976,negative,0.6684,Late Flight,0.6684,American,NaN,GolfWithWoody,NaN,0,@AmericanAir right on cue with the delaysðŸ‘Œ,NaN,2015-02-22 12:01:02 -0800,NaN,Quito
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)

In [36]:
final_data = new_data[['airline_sentiment' , 'negativereason' , 'text'  ]]

In [37]:
final_data

,airline_sentiment,negativereason,text
1,positive,NaN,@VirginAmerica plus you've added commercials t...
3,negative,Bad Flight,@VirginAmerica it's really aggressive to blast...
4,negative,Can't Tell,@VirginAmerica and it's a really big bad thing...
5,negative,Can't Tell,@VirginAmerica seriously would pay $30 a fligh...
6,positive,NaN,"@VirginAmerica yes, nearly every time I fly VX..."
...,...,...,...
14633,negative,Cancelled Flight,@AmericanAir my flight was Cancelled Flightled...
14634,negative,Late Flight,@AmericanAir right on cue with the delaysðŸ‘Œ
14635,positive,NaN,@AmericanAir thank you we got on a different f...
14636,negative,Customer Service Issue,@AmericanAir leaving over 20 minutes Late Flig...
14638,negative,Customer Service Issue,"@AmericanAir you have my money, you change my ..."

In [39]:
from textblob import TextBlob

In [141]:
final_data['text'] = str(TextBlob(final_data['text']).correct())

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'pandas.core.series.Series'>

In [43]:
final_data['text'].iloc[3]

"@VirginAmerica seriously would pay $30 a flight for seats that didn't have this playing.\nit's really the only bad thing about flying VA"

removing puncutuation marks

In [46]:
import string
def remove_punctuations(text):
    for punctuation in list(string.punctuation): text = text.replace(punctuation, '')
    return text

In [51]:
final_data['text'] = final_data['text'].apply(remove_punctuations)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\3983798801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(remove_punctuations)

In [53]:
final_data['text']

1        VirginAmerica plus youve added commercials to ...
3        VirginAmerica its really aggressive to blast o...
4        VirginAmerica and its a really big bad thing a...
5        VirginAmerica seriously would pay 30 a flight ...
6        VirginAmerica yes nearly every time I fly VX t...
                               ...
14633    AmericanAir my flight was Cancelled Flightled ...
14634            AmericanAir right on cue with the delaysðŸ‘Œ
14635    AmericanAir thank you we got on a different fl...
14636    AmericanAir leaving over 20 minutes Late Fligh...
14638    AmericanAir you have my money you change my fl...
Name: text, Length: 11541, dtype: object

In [56]:
import re

def clean_whitespace(text):
    text = text.strip()
    text = re.sub(r"\s+", " ", text)
    return text

In [57]:
final_data['text'] = final_data['text'].apply(clean_whitespace)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\3722884697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(clean_whitespace)

In [58]:
def clean_repeat_words(text):
    return re.sub(r"(\w*)(\w)\2(\w*)", r"\1\2\3", text)

final_data['text'] = final_data['text'].apply(clean_repeat_words)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\3617316657.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(clean_repeat_words)

In [59]:
final_data['text'].head(10)

1     VirginAmerica plus youve aded comercials to th...
3     VirginAmerica its realy aggresive to blast obn...
4     VirginAmerica and its a realy big bad thing ab...
5     VirginAmerica seriously would pay 30 a flight ...
6     VirginAmerica yes nearly every time I fly VX t...
8              virginamerica Wel I didntâ€¦but NOW I DO D
9     VirginAmerica it was amazing and arived an hou...
11    VirginAmerica I lt3 prety graphics so much bet...
12    VirginAmerica This is such a great deal Alread...
13    VirginAmerica virginmedia Im flying your fabul...
Name: text, dtype: object

In [60]:
def remove_numbers(text):
    """ Removes integers """
    text = ''.join([i for i in text if not i.isdigit()])         
    return text

final_data['text'] = final_data['text'].apply(remove_numbers)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\2139282510.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(remove_numbers)

In [61]:
def replace_multi_exclamation_mark(text):
    """ Replaces repetitions of exlamation marks """
    text = re.sub(r"(\!)\1+", ' multiExclamation ', text)
    return text

def replace_multi_question_mark(text):
    """ Replaces repetitions of question marks """
    text = re.sub(r"(\?)\1+", ' multiQuestion ', text)
    return text

def replace_multi_stop_mark(text):
    """ Replaces repetitions of stop marks """
    text = re.sub(r"(\.)\1+", ' multiStop ', text)
    return text

final_data['text'] = final_data['text'].apply(replace_multi_exclamation_mark)
final_data['text'] = final_data['text'].apply(replace_multi_question_mark)
final_data['text'] = final_data['text'].apply(replace_multi_stop_mark)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\2329543498.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(replace_multi_exclamation_mark)
C:\Users\DC\AppData\Local\Temp\ipykernel_15700\2329543498.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(replace_multi_question_mark)
C:\Users\DC\AppData\Local\Temp\ipykernel_15700\2329543498.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(replace_multi_stop_mark)

In [65]:
import nltk
from nltk.corpus import stopwords

stoplist = stopwords.words('english')

def remove_stop_words(text):
    finalTokens = []
    tokens = nltk.word_tokenize(text)
    for w in tokens:
        if (w not in stoplist):
            finalTokens.append(w)
    text = " ".join(finalTokens)
    return text

final_data['text'] = final_data['text'].apply(remove_stop_words)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\3994415680.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(remove_stop_words)

In [68]:
from nltk.stem import PorterStemmer

In [69]:
stemmer = PorterStemmer()

def stem_words(text):
    finalTokens = []
    tokens = nltk.word_tokenize(text)
    for w in tokens:
        finalTokens.append(stemmer.stem(w))
    text = " ".join(finalTokens)
    return text

In [70]:
final_data['text'] = final_data['text'].apply(stem_words)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\438422081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(stem_words)

In [72]:

from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize_words(text):
    finalTokens = []
    tokens = nltk.word_tokenize(text)
    for w in tokens:
        finalTokens.append(lemmatizer.lemmatize(w))
    text = " ".join(finalTokens)
    return text

In [74]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DC\AppData\Roaming\nltk_data...

True

In [75]:
final_data['text'] = final_data['text'].apply(lemmatize_words)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\2115658213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(lemmatize_words)

In [94]:
final_data['text'].iloc[3]
final_data['text'].isna().sum()

0

In [80]:
def remove_word(str):
    return str.replace('virginamerica' , "")

In [100]:
final_data['text'] = final_data['text'].apply(remove_word)

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\589070090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['text'] = final_data['text'].apply(remove_word)

AttributeError: 'Series' object has no attribute 'fiilna'

In [104]:
final_data['negativereason'] = final_data['negativereason'].fillna('unknown')
final_data['negativereason'].isna().sum()

C:\Users\DC\AppData\Local\Temp\ipykernel_15700\2672287963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['negativereason'] = final_data['negativereason'].fillna('unknown')

0

In [105]:
count_input_data = final_data['negativereason'].str.cat(final_data['text'] , sep = "" ) 
final_data['text'].iloc[6]

' amaz ariv hour earli your god'

In [107]:
from sklearn.feature_extraction.text import CountVectorizer

In [108]:
cv = CountVectorizer(max_features=1000 , stop_words='english')

In [109]:
vector = cv.fit_transform(count_input_data).toarray()

In [111]:
vector

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [120]:
output_label = final_data['airline_sentiment']

In [116]:
from sklearn.naive_bayes  import MultinomialNB

In [118]:
mnb = MultinomialNB()

In [123]:
x_train , x_test , y_train , y_out = train_test_split( vector , output_label, random_state = 42 , test_size = 0.2)

In [133]:
mnb.fit(x_train , y_train)
pred_train = mnb.predict(x_train)
pred_test = mnb.predict(x_test)

pred_train[pred_train == 1]

array([], dtype='<U8')

In [125]:
from sklearn.metrics import classification_report , confusion_matrix , f1_score

In [136]:
def test_param(**param):
    mnb = MultinomialNB()
    mnb.fit(x_train , y_train)
    pred_train = mnb.predict(x_train)
    pred_test = mnb.predict(x_test)
    print("f1_score of train data: " , f1_score(pred_train , y_train, pos_label='positive'))
    print("f1_score of test data: " , f1_score(pred_test , y_out, pos_label='positive'))
    print("comfusion matrix for train data\n" , confusion_matrix(pred_train , y_train))
    print("comfusion matrix for test data \n" , confusion_matrix(pred_test , y_out))

In [137]:
test_param()

f1_score of train data:  0.9859885832900882
f1_score of test data:  0.9811738648947951
comfusion matrix for train data
 [[7278   16]
 [  38 1900]]
comfusion matrix for test data
 [[1849    4]
 [  13  443]]

In [157]:
def check():
    str = input("enter the review: ")
    str = remove_punctuations(str)
    str = clean_whitespace(str)
    str = clean_repeat_words(str)
    str = remove_numbers(str)
    str = replace_multi_exclamation_mark(str)
    str = replace_multi_question_mark(str)
    str = replace_multi_stop_mark(str)
    str = remove_stop_words(str)
    str = stem_words(str)
    str = lemmatize_words(str)
    str = remove_word(str)
    str = [str]
    vector = cv.transform(str).toarray()
    print(mnb.predict(vector))

In [159]:
check()

enter the review:  I recently flew with this airline and had a fantastic experience. The flight was on time, the seats were comfortable, and the cabin crew was friendly and attentive

['positive']

In [162]:
x_train = pd.DataFrame(x_train)
x_test = pd.DataFrame(x_train)
y_out = y_out.to_frame()
y_train = y_train.to_frame()
x_train.to_parquet('x_train.parquet')
x_test.to_parquet('x_test.parquet')
y_out.to_parquet('y_test.parquet')
y_train.to_parquet('y_train.parquet')

In [163]:
import joblib

In [164]:
joblib.dump(mnb , "model.joblib")

['model.joblib']